@import "./nord.css";

body {
  background: var(--nord0);
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
a {
  color: var(--nord4);
}
