.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0.1rem solid var(--nord4);
  border-radius: 0.6rem;
}

.support-codec {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding: 0.6rem;
  border-bottom: 0.1rem solid var(--nord4);
}

.label {
  font-weight: bold;
}

.drm-row {
    display: flex;
    flex-direction: row;

    width: 100%;
    white-space: nowrap;

    border-bottom: 0.1rem solid var(--nord4);

    &:last-child {
        border-bottom: none;
    }
}

.support-key-system {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.6rem;
  border-right: 0.1rem solid var(--nord4);
}

.support-encryptions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.support-encryption {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0.6rem;
  gap: 0.4rem;
}
