.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid var(--color-border);
  border-radius: 0.6rem;
}

.support-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.4rem;
  width: 100%;
  padding: 0.6rem;
}

.label {
  font-weight: bold;
}

.drm-row {
    display: flex;
    flex-direction: row;

    width: 100%;
    white-space: nowrap;

    border-top: 0.1rem solid var(--color-border);

    &.not-supported {
        opacity: 0.5;
    }
}

.support-key-system {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.6rem;
  border-right: 0.1rem solid var(--color-border);
}

.support-encryptions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.support-encryption {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0.6rem;
  gap: 0.4rem;
}
